<template>
    <div class="app">
        <form @submit.prevent>
            <h4>Create post</h4>
            <input v-model="post.title" class="input" type="text" placeholder="Name">
            <input v-model="post.body" class="input" type="text" placeholder="About">
            <button class="button" @click="createPost">
                Create
            </button>
        </form>
    </div>
    <div class="post" v-for="post in posts">
        <div><strong>Name: </strong>{{ post.title }}</div>
        <div><strong>About: </strong>{{ post.body }}</div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            post: {
                title: '',
                body: ''
            }
        }
    },
    methods: {
        createPost() {
            this.post.id = Date.now();
            this.$emit('create', this.post)
            this.post = {
                title: '',
                body: ''
            }
        }
    }
}
</script>

<style scoped >
.form {
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    border: 1px solid teal;
    padding: 10px 15px;
    margin-top: 15px;
}

.button {
    margin-top: 15px;
    align-self: flex-end;
    padding: 10px 15px;
    background: none;
    color: teal;
    border: 1px solid teal;
}
</style>